body{
    font-size: 110%;
    width: 100%;
    text-align: center;
}

.imagem{
    margin-left: 30%;
}

.sacGeral{
    float: left;
    display: block;
    width: 100%;
    height: 500px;
   /* border: 1px solid #000;*/
    margin-bottom: 30px;
    overflow: hidden;
}

.sacGeral h1{
    text-align: center;
    font-size: 150%;
}

.sacGeral h3{
    text-align: center;
    display: block;
    font-size: 110%;
}

.contatoJv h4{
    text-align: center;
    font-size: 80%;
    display: block;
}

.contatoJv{
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    margin-left: 70vh;
}

.contatoJv p{
    text-align: center;
}

.contatoL{
    display: inline-block;
    padding-bottom: 10px;
}

.contatoL p{
    text-align: center;
}

.contatoL h4{
    text-align: center;
    font-size: 80%;
}

.email{
    display: block;
    text-align: center;
}

.botao{
    text-decoration: none;
    margin-right: 25px;;
    color: white;
    padding: 3px 8px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 80%;
    margin-top: 20%;
    margin-left:50%;
}

footer{
    display: block;
    text-align: right;
}

