body{
    width: 100%;
    text-align: center;
}

.imagem{
    margin-left: 30%;
}

.sacGeral{
    float: left;
    display: block;
    width: 100%;
    height: 500px;
   /* border: 1px solid #000;*/
    margin-bottom: 30px;
    overflow: hidden;
}

.sacGeral h3{
    text-align: center;
    display: block;
}

.contatoJv{
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    float: left;
    margin-left: 200px;
}

.contatoJv span{
    display: block;
}

.contatoL{
    display: inline-block;
    padding-bottom: 10px;
    float: right;
    margin-right: 200px;
}

.contatoL span{
    display: block;
}

.email{
    display: block;
    text-align: center;
    margin-top: 150px;
}

.botao{
    text-decoration: none;
    margin-right: 25px;;
    color: white;
    padding: 3px 8px;
    border: 1px solid white;
    border-radius: 8px;
    font-size: 80%;
    margin-top: 20%;
    margin-left:50%;
}

footer{
    display: block;
    text-align: right;
}

